{{template "bgview/header.html" .}}
<div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                Amaze UI 列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/?page=1" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>项目管理</span>
                        </a>
                    </li>
                    {{if eq .User.UserLevel 0}}
                        <li class="tpl-left-nav-item">
                            <a href="/department/?page=1" class="nav-link ">
                                <i class="am-icon-pagelines"></i>
                                <span>部门管理</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/user/?page=1" class="nav-link ">
                                <i class="am-icon-modx"></i>
                                <span>用户管理</span>
                            </a>
                        </li>
                    {{end}}
                </ul>
            </div>
        </div>

        <div class="tpl-content-wrapper" >
 			<div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 首页管理
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g zjy_marginbottom" >
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success index_new" ><span class="am-icon-plus"></span> 新增</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="tpl-table-images">
                        {{range .indexs}}
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4 zjy_list zjy_listbox">
                                <div class="tpl-table-images-content zjy_position">
                                	<!-- <label class="am-checkbox">
								      	<input type="radio" name="radio1" value="" data-am-ucheck>
								      	选择
							    	</label> -->
                                    <div class="tpl-table-images-content-i-time">
                                    	发布时间：{{.CreatedTime}}
                                    </div>
                                    <div class="tpl-i-title">
                                        {{.Title}}
                                    </div>
                                    <div class="tpl-table-images-content-i">
                                        <img src={{.ImagePath}} alt="">
                                    </div>
                                    <div class="tpl-table-images-content-block">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn zjy_margin">
                                            	<div style="display:none" id="indexId">{{.Id}}</div>
                                                <button type="button" class="am-btn am-btn-default am-btn-secondary index_edit_button" ><span class="am-icon-edit"></span> 编辑</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-danger index_delete_button"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                            <div class="am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li
                                        {{if eq .paginator.currpage .paginator.firstpage}} 
                                        class="am-disabled"
                                        {{end}}
                                        ><a href="/admin/?page={{.paginator.firstpage}}">«</a></li>
                                        {{range $index,$page := .paginator.pages}}
                                            <li 
                                            {{if eq $.paginator.currpage $page}}
                                            class="am-active"
                                            {{end}}
                                            ><a href="/admin/?page={{$page}}">{{$page}}</a></li>
                                        {{end}}
                                        <li
                                        {{if eq .paginator.currpage .paginator.lastpage}} 
                                        class="am-disabled"
                                        {{end}}
                                        ><a href="/admin/?page={{.paginator.lastpage}}">»</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
			</div>
        </div>
	</div>
</div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/amazeui.min.js"></script>
    <!--<script src="static/js/iscroll.js"></script>-->
    <script src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/change.js" ></script>
</body>

</html>